@model List<FirstWebApplication.Models.Products>
@{
    ViewData["Title"] = "Chocolates";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>ChocoLux</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <!-- slick slider stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
    <!-- slick slider -->
    <link rel="stylesheet" href="~/css/slick-theme.css" />
    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

    <div class="main_body_content">

        <!-- Add Product Button -->
        <div class="container">
            <div class="row justify-content-end mt-3">
                <div class="col-auto">
                    <a href="@Url.Action("AddProduct", "Product")" class="btn btn-primary btn-brown">Add Product</a>
                </div>
            </div>
        </div>
        <!-- End Add Product Button -->
        <!-- Category Filter -->
        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="@Url.Action("Chocolates", "Home")">All</a></li>
                        @foreach (var category in ViewBag.ProductsWithCategories)
                        {
                            <li class="list-inline-item"><a href="@Url.Action("Chocolates", "Home", new { categoryId = category.CategoryId })">@category.CategoryName</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Category Filter -->

        <!-- chocolate section -->
        <section class="chocolate_section layout_padding">
            <div class="container">
                <div class="heading_container">
                    <h2>
                        Our chocolate products
                    </h2>
                    <p>
                        Are you ready to experience pure bliss in every bite? Look no further than our exquisite range of chocolates, crafted with passion and perfection to elevate your chocolate moments to new heights!
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="chocolate_container">

                    <!-- Loop through products and display -->
                    @foreach (var product in ViewBag.ProductsWithCategories)
                    {
                        @* var photoPath = "~/images/" + (product.product_ImagePath ?? "no img.jpg"); *@
                        <div class="box">
                            <div class="img-box">
                                @* <img src="@product.product_ImagePath" alt="@product.product_name"> *@
                                @* <img src="~/images/@product.product_image" alt="product image"> *@
                                <img src="@product.product_ImagePath" alt="product image" asp-append-version="true">
                                @* <img src="@photoPath" alt="@product.product_name" asp-append-version="true"> *@
                            </div>
                            <div class="detail-box">
                                <h6>
                                    @product.product_name
                                </h6>
                                <h5>
                                    Rs.@product.product_price
                                </h5>
                                @* <a href="">
                                    BUY NOW
                                </a> *@
                                <form asp-controller="Cart" asp-action="AddToCart" method="post">
                                    <input type="hidden" name="product_id" value="@product.product_id" />
                                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                                </form>
                                <div class="btn-group" role="group" aria-label="Product Actions">
                                    <a href="@Url.Action("EditProduct", "Product", new { id = product.product_id })" class="btn btn-sm btn-primary">Edit</a>
                                    <a href="@Url.Action("DeleteProduct", "Product", new { id = product.product_id })" class="btn btn-sm btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <!-- end chocolate section -->
        <!-- info section -->
        <section class="info_section layout_padding2">
            <div class="container">
                <div class="row info_form_social_row">
                    <div class="col-md-8 col-lg-9">
                        <div class="info_form">
                            <form action="">
                                <input type="email" placeholder="Enter your email">
                                <button>
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row info_main_row">
                    <div class="col-md-6 col-lg-3">
                        <div class="info_links">
                            <h4>
                                Menu
                            </h4>
                            <div class="info_links_menu">
                                <a href="~/Home/Index">
                                    Home
                                </a>
                                <a href="~/Home/About">
                                    About
                                </a>
                                <a href="~/Home/Chocolates">
                                    Chocolates
                                </a>
                                <a href="~/Home/Testimonial">
                                    Testimonial
                                </a>
                                <a href="~/Home/Contact">
                                    Contact us
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="info_insta">
                            <h4>
                                Instagram
                            </h4>
                            <div class="insta_box">
                                <div class="img-box">
                                    <img src="~/images/insta-img.png" alt="">
                                </div>
                                <p>
                                    long established fact that a reader
                                </p>
                            </div>
                            <div class="insta_box">
                                <div class="img-box">
                                    <img src="~/images/insta-img.png" alt="">
                                </div>
                                <p>
                                    long established fact that a reader
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="info_detail">
                            <h4>
                                Company
                            </h4>
                            <p class="mb-0">
                                when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h4>
                            Contact Us
                        </h4>
                        <div class="info_contact">
                            <a href="#">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Location
                                </span>
                            </a>
                            <a href="#">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Call +01 1234567890
                                </span>
                            </a>
                            <a href="#">
                                <i class="fa fa-envelope"></i>
                                <span>
                                    demo@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end info_section -->

    </div>

 
    <!-- jQuery -->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.js"></script>
    <!-- slick slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
    <!-- Custom Styles -->
    <style>
        .btn-brown {
            background-color: #8B4513; /* Brown color */
            border-color: #8B4513; /* Brown color for border */
        }

            .btn-brown:hover {
                background-color: #654321; /* Darker brown on hover */
                border-color: #654321; /* Darker brown for border on hover */
            }
    </style>
</body>

</html>
